<div class="warpper">
  <%= render "layouts/commons/header"%>
  <%= render "layouts/partical/index/top"%>
  <%= render "layouts/partical/index/main"%>
  <%= render "layouts/partical/index/side_bar"%>
  <%= render "layouts/commons/footer"%>
</div>
